@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
    display: flex;
    justify-content: center;
}

.container{
    padding: 0 15px;
    width: 1140px;
}

h1{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    margin-bottom: 47px;
}

.time{
    position: fixed;
    top: 15px;
    right: 15px;
}

.grid{
    display: flex;
    box-sizing: border-box;
    padding-left: 42px;
    margin: auto;
    width: 80%;
    max-height: 400px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.frame{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    margin-right: 34px;
    margin-bottom: 34px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    transition: all 1.5s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cardBack{
    transform: rotateY(180deg);
    transition: all 0.6s;
}

.cardBackReverse{
    transform: rotateY(-180deg);
    transition: all 0.6s;
}

img{
    width: 100px;
    height: 100px;
}

.frame:hover{
    cursor: pointer;
    scale: 1.1;
}


@media(max-width: 1080px){
    .grid{
        max-height: 100%;
        flex-direction: row;

    }
}

@media(max-width: 530px){
    .grid{
        max-height: 100%;
        flex-direction: column;

    }
}